body { margin: 0; background: white; color: #162030; font-family: sans-serif; }
.fr { width: 320px; height: 240px; padding: 0; }
button { background: #124589; color: white; padding: 10px; border-radius: 2px; }
